<html>

<head>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    <form action="/vote" method="POST" />
    {{ if ne .PageCount 0}}
    <a href="/vote?page={{sub .PageCount}}">Previous page</a>
    {{end }}
    {{ range $key, $value := .Issues  }}
        <h4>{{$key.Title}}</h4>
        <p>{{$key.Summary}}</p>
        <input type="radio" {{ if eq $value 0}}checked{{end}} name="{{$key.ID}}" value="aye">Aye<br>
        <input type="radio" {{ if eq $value 1}}checked{{end}} name="{{$key.ID}}" value="nay">Nay<br>
        <input type="radio" {{ if eq $value 2}}checked{{end}} name="{{$key.ID}}" value="undecided">Undecided<br>
        <br />
    {{ end }}
    <a href="/vote?page={{add .PageCount }}">Next page</a>
    <input type="Submit" value="Update votes" />
</form>
</body>

</html> 